@import "~antd/dist/antd.css";
@import "./variables.scss";
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./web/footerStyle.css";
@import "./about/about.scss";


*,
*::before,
*::after {
  box-sizing: inherit;
  outline   : none;
}

html {
  box-sizing: border-box;
}


.styleHeader {
  background: #25335a !important;
    color: #ffffff;
}

body {
  margin                 : 0;
  // font-family            : 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor                 : url('./assets/images/be-pointr.png'), auto;
  color                  : #555555;
  font-size              : 16px;
  background-color       : #f1f3f6;
  text-align             : justify;
  @extend .bodyScroll;
  background-image: url('./assets/images/footer_bg.png');
}

h1, h2, h3, h4,h5, h6{
  margin:0;
}

ul, li{
  margin:0;
  padding:0;
}

li{
  list-style-type: none;
}
a, a:hover, a:active{
  text-decoration: none;
  color:inherit;
}



.logo {
  float     : left;
  width     : 120px;
  height    : 31px;
  margin    : 16px 24px 16px 0;
  background: #66666670;
  box-shadow: inset 0 -3em 3em #0000001a, 0 0 0 2px #eee, 0.3em 0.3em 1em #0000004d;
}

html,
body,
#root,
.wrapper {
  height: 100%;
}

.wrapper {
  display: block;

  .ant-layout-header {
    position  : fixed;
    z-index   : 1;
    width     : 100%;
    background: transparent;
    padding   : 0 1em;
    transition: 0.5s ease all;
    z-index   : 2;


    .header-menu {
      background: transparent;
      float     : right;

      & .ant-menu-item {
        text-transform: capitalize;
      }
    }
  }

  .ant-layout-footer {
    // background-color: #3A2471;
    // min-height      : 4em;
    padding: 0;
  }

  .copy-right{
    padding: 1em;
    background: #276226;
    color: $white;
    p{
      margin: 0;
      font-weight: 600;
    }
  }
}



.home {
  &-header {
    background-color   : #0d98ba;
    height             : 80vh;
    position           : relative;
    background-image   : url('./assets/images/wave.webp');
    background-position: center;
    background-size    : cover;
    width              : 100%;
    height             : 100%;
    position           : relative;
    min-height         : 100vh;

    &-title {
      background                : rgba(97, 76, 167, 0.10);
      box-shadow                : 0 20px 40px rgba(0, 0, 0, 0.6);
      backdrop-filter           : blur(20.0px);
      -webkit-backdrop-filter   : blur(20.0px);
      border-radius             : 1em;
      border                    : 1px solid rgba(255, 255, 255, 0.18);
      // width                  : calc(100% - 60%);
      color                     : $milkWhite;
      position                  : absolute;
      top                       : calc(100% - 60%);
      left                      : 1em;
      padding                   : 2em;
    }
  }
}

.padd {
  // padding : 1em 2em;
  padding : 5em;
  position: relative;
}

.odd {
  background-color: #f9f9f9;
}

.sup-head {
  position: absolute;
  width   : 100%;
  top     : -4px;
  left    : 0;

  span:nth-child(1) {
    background-color: green;
    padding         : 2em;
  }

  span:nth-child(2) {
    background-color: rgb(45, 0, 128);
    padding         : 2em;
  }

  span:nth-child(3) {
    background-color: rgb(24, 145, 182);
    padding         : 2em;
  }

  span:nth-child(4) {
    background-color: rgb(212, 65, 97);
    padding         : 2em;
  }

  span:nth-child(5) {
    background-color: rgb(190, 233, 34);
    padding         : 2em;
  }

}



.mission {
  &-moto {
    position: absolute;
    width   : 100%;
    top     : -8em;
    left    : 0;
    z-index : 1;

    .ant-col {
      text-align     : center;
      background     : rgba(13, 152, 186, 0.2);
      box-shadow     : 0 4px 2px rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(2px);
      color          : #fff;
      text-shadow    : 1px 1px #000;

      &:nth-child(1) {
        border-top   : 1em solid green;
        padding      : 2em;
        border-radius: 1em 0 0 1em;
      }

      &:nth-child(2) {
        border-top: 1em solid rgb(45, 0, 128);
        padding   : 2em;
      }

      &:nth-child(3) {
        border-top: 1em solid rgb(24, 145, 182);
        padding   : 2em;
      }

      &:nth-child(4) {
        border-top: 1em solid rgb(212, 65, 97);
        padding   : 2em;
      }

      &:nth-child(5) {
        border-top   : 1em solid rgb(190, 233, 34);
        padding      : 2em;
        border-radius: 0 1em 1em 0;

      }
    }
  }

  p {
    margin: 0;
  }
}

.one {
  display              : block;
  height               : auto;
  margin               : 0 auto 0 auto;
  padding-top          : 6em;
  background-image     : url("./assets/images/020.png");
  background-position  : center;
  background-repeat    : no-repeat;
  background-attachment: fixed;
}

.sec-color {
  background-color: #f4f4f4;
}

// Modified

.section {
  padding      : 5em;
  // background: #eee;
}

.bwaap-title-common{
  h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5em;
  }
  h3{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    }
  
}

// common

.overlay {
  background: #102806d9;
  height    : 100%;
  position  : absolute;
  // z-index: 999;
  opacity   : 1;
  width     : 100%;
}


// Home Page
.home-page {
  // background: #0d98ba;
  height               : 80vh;
  // background           : url("./assets/images/home-bg.jpg");
  //   background-size      : cover;
  // background-attachment: fixed;
  // background-position  : center;
  background-color: #0d98ba;
  // background: URL("./assets/images/wave.webp");



  .home-bg{
    background: url("./assets/images/wave.webp");
    background-position: bottom;
    /* z-index: 0; */
    height: 98%;
    /* max-width: 100%; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    // background-position: top;
  }

  .captions {
    display   : block;
    margin-top: 15%;
    position  : relative;
    color     : #fff;
  }
  h1{
    color:#fff;
  }

  .btn-links Button {
    border-radius: 15px;
    /* padding   : 1.5em; */
    background   : none;
    border       : 2px solid #fff;
    color        : #fff;
    font-size    : 1em;
    height       : 100%;
    width        : auto;
    margin       : 1em;
  }

}

.moto-quotes {
  background: #fff;

  .moto-content {
    padding: 1em 2em;
  }

  h2 {
    padding: 1em;
    color  : #338424;
    font-size: 16px;
    font-weight: 600;
  }
  p{
    font-size: 14px;
  }

  .moto-content {
    padding: 1em;
  }
  .moto-sec{
    padding: 1em;
    text-align: center;
    img{
      max-width: 50%;
    }
  }
}

.about-bwaap{
  background: url("./assets/images/home-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  position: relative;



  .about-content{
    text-align: center;
    color: $white;
  }

   h3{
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  h2{
    color:$white;
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
  }

  // button{
  //   background:transparent ;
  //   border:2px solid $white;
  // }
  // button span{
  //   color:$white;
  // }
}

.strip-gc {
  // background: rgb(28, 128, 28);
  background:url("./assets/images/global-challenges.jpg");
  color: $white;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .gc-captions{
    padding:2em
  }
  h2 {
    color: $white;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
    font-weight: 700;
  }

  h3{
    color: $white;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
    margin:0
  }
 
}

.strip-farming {
  background         : url("./assets/images/home-bg.jpg");
  color              : #fff;
  background-size    : cover;
  background-position: bottom;
  position: relative;


 .farmingprojects-captions{
   padding: 2em;
 }

  h2 {
    color: #fff;
  }
}

.farms-projects{
  h1{
    font-size: 2.5em;
    font-weight: 700;
  }
}

.snip1487 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  line-height: 1.5em;
  border-radius: 20px;
}
.snip1487 *,
.snip1487 *:before,
.snip1487 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.snip1487 img {
  width: calc(120%);
  backface-visibility: hidden;
  vertical-align: top;
}
.snip1487 figcaption {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
  padding: 5px 40px;
  opacity: 0;
}
.snip1487 h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  color:#fff;
}
.snip1487 p {
  font-weight: 400;
  margin: 0;
  font-size: 0.9em;
}
.snip1487 i {
  position: absolute;
  color: #fff;
  font-size: 34.375px;
  line-height: 55px;
  width: 55px;
  bottom: 0;
  right: 0;
  background-color: #c0392b;
  -webkit-transform: translateX(55px);
  transform: translateX(55px);
}
.snip1487 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1487:hover img,
.snip1487.hover img {
  zoom: 1;
  filter: alpha(opacity=30);
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}
.snip1487:hover figcaption,
.snip1487.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
}
.snip1487:hover i,
.snip1487.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.technology-bwaap{
  background: #f9f9f9;

  h2{
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;

  }
  h3{
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercas8;
  }
}

.products-bwaap{

  h1{
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
  }
  .products-left{
    background: url("./assets/images/home-bg.jpg");
    background-position: center;
    background-size: cover;
  }
  .content{
    padding:5em;
  }

}

.footer-section{
  margin:0;
  padding:0;
  background:url("./assets/images/home-bg.jpg");
  background-size: cover;
  background-position:bottom center;
  position: relative;
  color: #fff;


  h2, h3{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
  }

  h4{
    color:#fff;
    font-weight: 600;
  }

  h4 span{
    margin-right:.7em
  }
  .ant-col-6{
    padding:1em 2em;
  }

  .anticon-phone{
    transform: rotate(90deg);
  }

  .foot-logo{
    text-align: center;
  }
}